---

- name: Install Docker and set Ubuntu Permission
  hosts: all
  become: yes

  tasks:

    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install Docker
      apt: 
        name: docker.io
        state: present

    - name: Start Docker Daemon
      service:
        name: docker
        state: started
        enabled: yes

    - name: Add Ubuntu User to Docker Group for Permission
      user:
        name: ubuntu
        groups: docker
        append: yes