name: NodeJS CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-test:
    name: Build and Test Node App
    runs-on: self-hosted

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

        # Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install Dependencies
        run: npm install

      - name: Run Tests
        run: npm test --if-present

  docker:
    name: Build & Push Docker Image
    runs-on: self-hosted
    needs: build-test

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker Image
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/my-node-app:latest .

      - name: Push Image to DockerHub
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/my-node-app:latest
      
      - name: Run container 
        run: docker run -d -p 3000:3000 ${{ secrets.DOCKERHUB_USERNAME }}/my-node-app:latest
  